@import '../../styles/global.scss';

.actionbar{    
    position: relative;
    margin: 0 auto;   
    width:100%;
    height: 100%;
    background-color: $navColor;
    z-index:100;    
}

.actionbar .items{   
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 100%;
    grid-gap:5px;
    padding:5px;      
    
    button{
        width:67px;
        height:27px;
        grid-column:1;            
    }
    
    .searchBar{
        grid-column: 2;
        width:90%;           
        align-self: center;
        margin:auto; 
        
        span{
            position: absolute;
            padding:1px;
            margin-top:3px; 
            margin-left:2px;
        }
        input{    
            height:27px; 
            padding-left:22px;
            width:100%;            
            border-radius:16px;
            background:rgba(255,255,255,0.15);
            border:none;

            &:focus{
            background: rgba(255,255,255,0.2);
            }
            
        }

        
    }

    
    span{
        justify-self:end;
        grid-column:3;
        display: inline; 
        color:$navFontColor;   
        align-self: center;            
    }
    
}

.addProfile{
    float:right;  
    font-size:26px;
    margin-top:2px;
    margin-right:12px;    
}

.searchBar{
        position: relative;
        margin:auto;    
        width:50%;           
        align-self: center;
        
        
        span{
            position: absolute;
            padding:1px;
            margin-top:3px; 
            margin-left:2px;
        }
        input{    
            height:27px; 
            padding-left:22px;
            width:100%;            
            border-radius:16px;
            background:rgba(255,255,255,0.15);
            border:none;

            &:focus{
            background: rgba(255,255,255,0.2);
            }
            
        }

}
