.navbar-bottom{
    position:fixed;
    width:100%;
    bottom:0;

    a{                
        box-sizing: border-box;
        width:20%;
        text-align: center;
        
    }

    span{
        font-size:0.75em;
    }
}