@import '../../styles/global.scss';

.navbar{
    overflow: hidden;
    background-color: $navColor;
    position: relative; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */   
    z-index:100;
}

.navbar .tabs{
    height:60px;
    list-style-type: none;    
}


.navbar .tabs li{
    height: 100%;
    width:20%;
    float:left;
    box-sizing: border-box;
    padding: 8px 16px;    
    border-right:1px solid $secondaryColor;
    border-top:2px solid $secondaryColor;
    &:last-child{
        border-right:none;
    }
    
}

.navbar .tabs a { 
    height:100%;    
    width:100%;    
    display: block;
    color: #f2f2f2;
    text-align: center;    
    text-decoration: none;
    
    // border:1px solid blue;
    
    
}

.tabs {

    li{
        background-repeat: no-repeat;
        background-position-x: 10px;
        background-position-y: 4px;
    }
    
    #snapTab{
        background-image: url('../../../../res/snapSmall.png');
        
    }

    #instaTab{
         background-image: url('../../../../res/instaSmall.png');         
    }

    #faceTab{
        background-image: url('../../../../res/fSmall.png');         
    }

    #twitterTab{
        background-image: url('../../../../res/twitterSmall.png');
    }

    #menuTab{
        background-image: url('../../../../res/menuSmall.png');
    }
}

    

    






