.menu{
    width:50%;
    background: #7BAFE4;
    height:85%;
    opacity: 0.8;
    position: fixed;
    top:39px;
    left:-50%;
    z-index:20;    

    transition: left 0.5s;

    
}

.filter{
    margin-left:5%;
    width:90%;
    box-sizing: border-box;
    padding:15px;
    border-bottom: 2px solid #FFF;
    h3{
        color:white;
    }
    label{        
        color:black;
    }

    input{
        margin:4px;
        
    }
}