@import '../../styles/global.scss';
.user-list {
    
    height: 100%;
    background: #000;
    transition: opacity 0.5s;
}

.user-profile {
    margin: 8px;
    margin-left: 10%;
    width: 80%;
    height: 400px;
    font-family: Segoe UI;
    position: relative;
    background: #151515;
    color: #FFF;
    box-shadow: -2px 3px 10px #444;
    margin-bottom: 15px;
}

.user-profile .user-details {
    box-sizing: border-box;
    position: relative;
    padding-top: 15px;
    text-align: center;
    height: 70%;
    width: 100%;
    span {
        position: absolute;
        right: 18px;
        top: 20px;
        font-size: 18pt;
    }
    img {
        width: 50%;
        height: 50%;
    }
    h4 {
        font-weight: 600;
        padding: 5px;
        font-size: 18pt;
    }
    h6 {
        margin: 0;
        font-size: 14pt;
        font-weight: normal;
    }
}

.user-profile .user-info {
    box-sizing: border-box;
    width: 100%;
    height: 30%;
    background: grey;
    list-style-type: none;
    border: 1px solid black;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
    span {
        justify-self: end;
        margin:5px;
        font-size:18pt;
        color:white;
    }
    ul {
        margin-left:10px;
        grid-column: 1 /  2;
        grid-row: 2;
        li {
            display: inline;
            font-size: 11pt;
            color: #70A4F2;
            padding-right:5px;
        }
    }
    h5 {
        margin-left:10px;
        color:white;
        grid-row:1;
        grid-column: 1;
        font-size: 10pt;
        font-weight: 400;
    }
    h6 {
        color:white;
        grid-row: 3;
        font-style: italic;
        align-self: center;
    }
}